@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

td:nth-child(-n+3) {
    text-align: center;
    vertical-align: middle;
}

th {
    padding: 0px 50px 0px 50px;
}

h1{
    text-align: center;
    margin-top: 50px;
}

tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

#form-reveal{
    margin-bottom: 10px;
}


button:disabled {
    border: none;
    padding: 5px 8px;
    border-radius: 0px;
    background-color: rgb(216, 216, 216);
    color: white;
    font-size: 13px;
    transition-duration: 0.2s;
}

button:enabled,
input[type="submit"] {
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgb(246, 241, 252);
    color: black;
    font-size: 13px;
    transition-duration: 0.2s;
}

button:hover:enabled,
input[type="submit"]:hover {
    background-color: rgb(41, 31, 48);
    color: white;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

table {
    margin: 0 auto;
    text-align: center;
}

.checkbox {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    vertical-align: middle;
    margin: 2px;
    background-color: #f6f1fc;
    transition-duration: 0.2s;
    cursor: pointer;
    border: 2px solid #f6f1fc;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.checkbox:active{
    transform: scale(0.95,0.95);
}

button:focus, .checkbox:focus{
    outline: none;
    border-right: 2px solid #bbb2c5;
    border-bottom: 2px solid rgb(187, 178, 197);
}

.checkbox:checked{
    background-color: rgb(41, 31, 48);
    border-radius: 25px 0px;
}
.checkbox::after{
    content: '✘';
    font-size: 30px;
    color: rgb(41, 31, 48);
    vertical-align: middle;

}
.checkbox:checked::after{
    content: '✔';
    font-size: 30px;
    color: white;
    /* text-align: center; */
    vertical-align: middle;
    
    

}
